<phpunit>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- this is the path of the files included in your clover report -->
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./test</directory>
                <file>tbszip.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="php-epub-meta">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>